#bg{
  position: relative; 
    display:flex;
    justify-content: center;
    align-items: center;
   
}
#frm{
  width: 400px;
    padding: 20px;
    background-color: #ccc;
    border-radius: 16px;
    border: 3px solid #ccc;
    border-color: black;
    color: #666;
}
#lk{
  padding: 12px;
  font-size: 12px;
}
img{
  width: 40%;
  border-radius: 50%;
}
input{
  width: 100%;
  padding: 12px 12px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 18px;
}
#t1{
  font-family: serif;
  text-decoration: underline;
  color: #666;
}
